conftest 0.63.0
golang 1.25.4
golangci-lint 2.7.2
pre-commit 4.5.0
regula 3.2.1 # https://github.com/launchbynttdata/asdf-regula
terraform 1.14.0
terraform-docs 0.20.0
terragrunt 0.94.0
tflint 0.60.0
tfsec 1.28.14
trivy 0.68.1
checkov 3.2.495
